@use 'sass:color';

$font-family-main: 'Ubuntu', sans-serif;
$font-family-surname: 'Righteous', cursive;
$main-bg: #efefef;
$secondary-bg: darken($main-bg, 3); //#cecfc9;
$secondary-bg-dark: #0a3143;
$secondary-bg-contrast: #f2aa1f;
